<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>mMAD Systems</title>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.min.css'>

    <!-- CSS Styling -->
    <link rel='stylesheet' href='/style/style.css' />
    <link rel='stylesheet' href='/style/binance.css' />
    <link rel='stylesheet' href='/style/trade-details.css' />

</head>
<body ng-app="mMADApp" ng-cloak>
    <div class="wrapper">

        <!-- Injected with Partials -->
        <div ng-view></div>

        <footer>
            <a href="https://github.com/bmino/mMAD" target="_blank">Version <%- version %></a>
        </footer>

    </div><!-- /.wrapper -->


    <!-- JQuery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Libraries -->
    <script src="/node_modules/crypto-js/crypto-js.js"></script>

    <!-- Bootstrap: Essential JS -->
    <script src='/node_modules/bootstrap/dist/js/bootstrap.min.js'></script>

    <!-- Angular: Essential Libraries -->
    <script src='/node_modules/angular/angular.min.js'></script>
    <script src='/node_modules/angular-route/angular-route.min.js'></script>

    <!-- Angular: Major App Structure -->
    <script src='/js/app.modules.js'></script>
    <script src='/js/app.routes.js'></script>

    <!-- Angular: Filters -->
    <script src='/js/filter/minPercent.filter.js'></script>

    <!-- Angular: Services -->
    <script src='/js/service/binance.service.js'></script>
    <script src='/js/service/signing.service.js'></script>

    <!-- Angular: Directives -->
    <script src='/js/directive/trade-details.directive.js'></script>

    <!-- Angular: Controllers -->
    <script src='/js/controller/binance.controller.js'></script>


</body>
</html>
