module.exports = {

    KEYS: {
        API: undefined,
        SECRET: undefined
    },

    INVESTMENT: {
        // Symbol which all triangle trades must start and end with
        BASE: 'BTC',

        // Minimum investment amount of the base currency to consider
        MIN: 0.015,

        // Maximum investment amount of the base currency to consider
        MAX: 0.1,

        // Step size at which investment amounts are considered between the min and max
        STEP: 0.005
    },

    TRADING: {
        // Execute identified arbitrage positions when found
        ENABLED: false,

        // Execution strategy to use
        // Valid Values: ['linear', 'parallel']
        // Linear: the three legs of the triangle arbitrage are executed sequentially
        // Parallel: all three legs of the triangle arbitrage are executed at the same time. Requires defining a whitelist.
        EXECUTION_STRATEGY: 'linear',

        // Maximum number of executions to attempt before shutting down
        // Defaults to unlimited when undefined
        EXECUTION_CAP: undefined,

        // Minimum profit (percent) required to consider executing a position
        PROFIT_THRESHOLD: 0.5,

        // Maximum time (ms) since the oldest depth tick involved in the position
        AGE_THRESHOLD: 150,

        // Symbols to include when searching for triangle arbitrage
        // Defaults to all symbols when left empty
        WHITELIST: []
    },

    HUD: {
        ENABLED: true,

        // Number of arbs shown on the HUD
        ARB_COUNT: 10
    },

    LOG: {
        // Log level to configure how verbose logging messages are
        // Valid Values: ['fatal', 'error', 'warn', 'info', 'debug', 'trace', 'silent']
        LEVEL: 'info',

        // Enable to format the logs with pino-pretty
        // You might want to disable this if you view the raw .log files
        PRETTY_PRINT: true
    },

    // Order book depth to maintain on each ticker
    // Valid Values: [5, 10, 20, 50, 100, 500, 1000]
    // Warning: DO NOT CHANGE THIS WITHOUT KNOWING WHAT YOU ARE DOING! Higher values can cause temporary bans
    DEPTH_SIZE: 100,

    // Delay (ms) between the opening of each depth websocket
    DEPTH_OPEN_INTERVAL: 50,

    // Delay (ms) after calculations are performed before starting another cycle
    SCAN_DELAY: 50

};
