{

    "KEYS": {
        "API": "",
        "SECRET": ""
    },

    "INVESTMENT": {
        "BASE": "BTC",
        "MIN": 0.010,
        "MAX": 0.015,
        "STEP": 0.005
    },

    "SCANNING": {
        "DEPTH": 50,
        "WHITELIST": []
    },

    "EXECUTION": {
        "ENABLED": false,
        "CAP": 1,
        "STRATEGY": "linear",
        "TEMPLATE": ["BUY", "SELL", "SELL"],
        "FEE": 0.075,
        "THRESHOLD": {
            "PROFIT": 0.00,
            "AGE": 25
        }
    },

    "HUD": {
        "ENABLED": true,
        "ROWS": 10,
        "REFRESH_RATE": 500
    },

    "LOG": {
        "LEVEL": "debug",
        "PRETTY_PRINT": true,
        "STATUS_UPDATE_INTERVAL": 2
    },

    "WEBSOCKET": {
        "BUNDLE_SIZE": 1,
        "INITIALIZATION_INTERVAL": 200
    },

    "BINANCE_OPTIONS": {}

}
